@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
.footer__list-title, .benefits__title, .modal__title, .title {
  text-align: center;
  color: rgb(33, 33, 33);
  font-size: 36px;
  letter-spacing: 0.03em;
  font-weight: 700;
  padding-bottom: 50px;
}

@media (max-width: 768px) {
  .footer__list-title, .benefits__title, .modal__title, .title {
    font-size: 28px;
    padding-bottom: 30px;
  }
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

button {
  font-family: inherit;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: rgb(255, 255, 255);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.animation {
  -webkit-transition-property: color, background-color, fill, opacity, -webkit-box-shadow;
  transition-property: color, background-color, fill, opacity, -webkit-box-shadow;
  transition-property: color, background-color, fill, box-shadow, opacity;
  transition-property: color, background-color, fill, box-shadow, opacity, -webkit-box-shadow;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .container {
    max-width: 738px;
  }
}
@media (max-width: 480px) {
  .container {
    max-width: 450px;
  }
}
.logo {
  color: rgb(33, 150, 243);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
}

.logo__span {
  color: rgb(0, 0, 0);
}

.logo__span--footer {
  color: rgb(255, 255, 255);
}

@media (max-width: 768px) {
  .logo {
    font-size: 24px;
  }
}
.header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid;
  border-bottom-color: rgb(238, 238, 238);
}
.header .animation {
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 93px;
}
.header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}
.header__nav-link {
  color: rgb(33, 33, 33);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.02em;
}
.header__nav-link:hover {
  color: rgb(33, 150, 243);
}
.header__nav-link--current, .header__nav-link--portfolio-current {
  color: rgb(33, 150, 243);
  position: relative;
}
.header__nav-link--current:hover::after {
  content: "";
  position: absolute;
  display: inline-block;
  border-radius: 2px;
  top: 43px;
  background-color: rgb(33, 150, 243);
  width: 48px;
  height: 4px;
  left: 0;
}
.header__nav-link--portfolio-current:hover::after {
  content: "";
  position: absolute;
  display: inline-block;
  left: 0;
  border-radius: 2px;
  top: 43px;
  background-color: rgb(33, 150, 243);
  width: 78px;
  height: 4px;
}
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.header__link {
  color: rgb(117, 117, 117);
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
.header__link:hover {
  color: rgb(33, 150, 243);
}
.header__link:hover .header__icon {
  fill: rgb(33, 150, 243);
}
.header__icon {
  fill: rgb(117, 117, 117);
  width: 16px;
  height: 12px;
}
.header__icon:nth-child(2) {
  width: 10px;
  height: 16px;
}

@media (max-width: 768px) {
  .header {
    padding-top: 21px;
    padding-bottom: 21px;
  }
  .header__wrapper {
    gap: 87px;
  }
  .header__container {
    gap: 96px;
  }
  .header__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
  }
  .header__link {
    font-size: 12px;
  }
  .header__icon {
    fill: rgb(117, 117, 117);
    width: 14px;
    height: 10px;
  }
  .header__icon:nth-child(2) {
    width: 10px;
    height: 14px;
  }
}
@media (max-width: 480px) {
  .header {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .header__nav, .header__list {
    display: none;
  }
}
.hero {
  background: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/main-page/hero-bg.jpg) center/cover no-repeat;
  background: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/main-page/hero-bg.jpg) center/cover no-repeat;
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero__container {
  text-align: center;
}
.hero__button {
  padding: 10px 32px;
  background-color: rgb(33, 150, 243);
  color: rgb(255, 255, 255);
  border-width: 0;
  border-radius: 4px;
  font-weight: 700;
  letter-spacing: 0.06em;
  line-height: 30px;
  font-size: 16px;
  -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  font-family: "Roboto", sans-serif;
}
.hero__title {
  font-size: 44px;
  font-weight: 900;
  line-height: 60px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  padding-bottom: 30px;
}

@media (max-width: 768px) {
  .hero {
    background: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/main-page/hero-bg.jpg) center/cover no-repeat;
    background: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/main-page/hero-bg.jpg) center/cover no-repeat;
    padding-top: 118px;
    padding-bottom: 118px;
  }
  .hero__title {
    font-size: 26px;
    line-height: 42px;
  }
  .hero__button {
    padding: 10px 24px;
  }
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 2.5s cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 2.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.no-scroll {
  overflow: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  padding: 40px;
  background-color: rgb(255, 255, 255);
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14);
          box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14);
  border-radius: 16px;
}
.modal__close-btn {
  position: absolute;
  bottom: 543px;
  left: 490px;
  background-color: rgba(0, 0, 0, 0);
  padding: 6px;
  border-radius: 100%;
  border: 1px solid;
  border-color: rgba(0, 0, 0, 0.1);
}
.modal__title {
  font-size: 20px;
  padding-bottom: 12px;
  position: relative;
  line-height: 30px;
}
.modal__form {
  padding-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
.modal__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4px;
  color: rgb(117, 117, 117);
  text-align: left;
  font-size: 12px;
  letter-spacing: 0.01em;
}
.modal__input {
  position: relative;
  border: 1px solid;
  border-color: rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 40px;
  padding-left: 10px;
}
.modal__input:hover {
  border-color: rgb(33, 150, 243);
}
.modal__textarea {
  border: 1px solid;
  border-color: rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  width: 448px;
  height: 120px;
  resize: none;
}
.modal__textarea::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  letter-spacing: 0.01em;
  font-size: 12px;
}
.modal__textarea::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
  letter-spacing: 0.01em;
  font-size: 12px;
}
.modal__textarea:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  letter-spacing: 0.01em;
  font-size: 12px;
}
.modal__textarea::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  letter-spacing: 0.01em;
  font-size: 12px;
}
.modal__textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
  letter-spacing: 0.01em;
  font-size: 12px;
}
.modal__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 7px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.modal__checkbox {
  border: 2px solid;
  border-color: rgb(33, 33, 33);
  padding: 4px 2px 3px 3px;
  background-color: rgb(33, 150, 243);
}
.modal__desc {
  font-size: 14px;
  line-height: 23px;
  color: rgb(117, 117, 117);
}
.modal__link {
  color: rgb(33, 150, 243);
  text-decoration: underline;
}
.modal__btn {
  margin-top: 30px;
  background-color: rgb(33, 150, 243);
  border-radius: 4px;
  border: 0;
  padding: 10px 52px;
  color: rgb(255, 255, 255);
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  font-weight: 700;
  -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  font-family: "Roboto", sans-serif;
}

.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  -webkit-transition: opacity 250ms ease, -webkit-transform 250ms cubic-bezier(0.68, -0.55, 0.27, 1.55);
  transition: opacity 250ms ease, -webkit-transform 250ms cubic-bezier(0.68, -0.55, 0.27, 1.55);
  transition: transform 250ms cubic-bezier(0.68, -0.55, 0.27, 1.55), opacity 250ms ease;
  transition: transform 250ms cubic-bezier(0.68, -0.55, 0.27, 1.55), opacity 250ms ease, -webkit-transform 250ms cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

@media (max-width: 768px) {
  .modal {
    max-width: 450px;
    max-height: 609px;
  }
  .modal__close-btn {
    bottom: 571px;
    left: 412px;
  }
  .modal__desc {
    font-size: 12px;
  }
  .modal__textarea {
    max-width: 370px;
  }
  .modal__textarea::-webkit-input-placeholder {
    font-size: 14px;
  }
  .modal__textarea::-moz-placeholder {
    font-size: 14px;
  }
  .modal__textarea:-ms-input-placeholder {
    font-size: 14px;
  }
  .modal__textarea::-ms-input-placeholder {
    font-size: 14px;
  }
  .modal__textarea::placeholder {
    font-size: 14px;
  }
}
.benefits {
  padding-top: 94px;
  padding-bottom: 94px;
}
.benefits__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.benefits__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.benefits__title {
  font-size: 14px;
  text-transform: uppercase;
  text-align: left;
  padding-bottom: 10px;
}
.benefits__title::before {
  content: "";
  background-color: rgb(245, 244, 250);
  display: block;
  padding: 25px 100px;
  margin-bottom: 30px;
}
.benefits__title--antena::before {
  content: url(../images/main-page/antenna.jpg);
}
.benefits__title--astronaut::before {
  content: url(../images/main-page/astronaut.jpg);
}
.benefits__title--clock::before {
  content: url(../images/main-page/clock.jpg);
}
.benefits__title--diagram::before {
  content: url(../images/main-page/diagram.jpg);
}
.benefits__desc {
  color: rgb(117, 117, 117);
  font-weight: 400;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 24px;
  width: 270px;
}

@media (max-width: 768px) {
  .benefits {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .benefits__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .benefits__title::before {
    padding: 25px 142px;
  }
  .benefits__desc {
    width: 354px;
  }
}
@media (max-width: 480px) {
  .benefits__desc {
    width: 100%;
  }
  .benefits__title {
    text-align: center;
  }
}
.doing {
  padding-bottom: 94px;
  background-color: rgb(255, 255, 255);
}
.doing__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.doing__item {
  position: relative;
}
.doing__overlay {
  background-color: rgba(47, 48, 58, 0.8);
  position: absolute;
  top: 224px;
  width: 370px;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.doing__desc {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: rgb(255, 255, 255);
}
.doing__img {
  width: 370px;
  height: 294px;
}

@media (max-width: 768px) {
  .doing {
    display: none;
  }
}
.team {
  background-color: rgb(245, 244, 250);
  padding-bottom: 94px;
  padding-top: 94px;
}
.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.team__item {
  background-color: rgb(255, 255, 255);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  border: 0;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.team__img {
  width: 270px;
  height: 260px;
}
.team__desc {
  color: rgb(117, 117, 117);
  font-weight: 400;
  letter-spacing: 0.03em;
  font-size: 16px;
  line-height: 1em;
  padding-bottom: 16px;
}
.team__title {
  color: rgb(117, 117, 117);
  font-weight: 400;
  letter-spacing: 0.03em;
  font-size: 16px;
  line-height: 1em;
  padding-top: 30px;
  padding-bottom: 10px;
  font-weight: 500;
  color: rgb(33, 33, 33);
}
.team__sm {
  padding-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  margin: 0 auto;
}
.team__sm-link {
  padding: 12px;
  border-radius: 100%;
  display: block;
}
.team__sm-link:hover {
  background-color: rgb(33, 150, 243);
}
.team__sm-link:hover .team__sm-icon {
  fill: rgb(255, 255, 255);
}
.team__sm-icon {
  fill: rgb(175, 177, 184);
  width: 20px;
  height: 20px;
}

@media (max-width: 768px) {
  .team {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .team__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .team__img {
    max-width: 354px;
    max-height: 374px;
  }
}
@media (max-width: 480px) {
  .team__img {
    max-width: 450px;
    max-height: 460px;
  }
}
.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}
.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.clients__link {
  border: 1px solid;
  border-color: rgb(175, 177, 184);
  border-radius: 4px;
  padding: 16px 32px;
  display: block;
}
.clients__link:hover {
  border-color: rgb(33, 150, 243);
}
.clients__link:hover .clients__icon {
  fill: rgb(33, 150, 243);
}
.clients__icon {
  fill: rgb(175, 177, 184);
  width: 106px;
  height: 60px;
}

@media (max-width: 768px) {
  .clients {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .clients__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .clients__link {
    padding: 16px 60px;
    max-width: 226px;
  }
}
@media (max-width: 480px) {
  .clients__link {
    padding: 16px 52px;
    max-width: 210px;
  }
}
.footer {
  background-color: rgb(47, 48, 58);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer__wrapper-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 70px;
}
.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 93px;
}
.footer__address {
  padding-top: 20px;
}
.footer__address-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-decoration: none;
  gap: 9px;
}
.footer__address-item {
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.03em;
}
.footer__address-link {
  color: rgb(117, 117, 117);
  font-weight: 400;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 24px;
}
.footer__wrapper {
  padding-top: 12px;
}
.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
.footer__list-link {
  padding: 12px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  display: block;
}
.footer__list-link:hover {
  background-color: rgb(33, 150, 243);
}
.footer__list-link:hover .footer__list-icon {
  fill: rgb(255, 255, 255);
}
.footer__list-icon {
  fill: rgb(255, 255, 255);
  height: 20px;
  width: 20px;
}
.footer__list-title {
  font-size: 14px;
  padding-bottom: 20px;
  color: rgb(255, 255, 255);
  text-align: left;
}
.footer__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
}
.footer__form-wrapper {
  padding-top: 12px;
}
.footer__form-title {
  padding-bottom: 20px;
  color: rgb(255, 255, 255);
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  font-weight: 700;
}
.footer__form-input {
  border: 1px solid;
  border-radius: 4px;
  border-color: rgba(255, 255, 255, 0.3);
  padding: 15px 16px;
  background-color: transparent;
  width: 358px;
}
.footer__form-input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03px;
}
.footer__form-input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03px;
}
.footer__form-input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03px;
}
.footer__form-input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03px;
}
.footer__form-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03px;
}
.footer__form-button {
  background-color: rgb(33, 150, 243);
  border: 0;
  border-radius: 4px;
  color: rgb(255, 255, 255);
  line-height: 30px;
  font-size: 16px;
  letter-spacing: 0.06em;
  -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  padding: 10px 28px;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Roboto", sans-serif;
}
.footer__form-icon {
  fill: rgb(255, 255, 255);
  width: 24px;
  height: 24px;
}

@media (max-width: 768px) {
  .footer__address-wrapper {
    text-align: center;
  }
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 60px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__wrapper-left {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .footer__list-title {
    text-align: center;
  }
  .footer__form {
    display: inline-block;
  }
  .footer__form-wrapper {
    margin: 0 auto;
  }
  .footer__form-title {
    text-align: center;
  }
  .footer__form-input {
    width: 450px;
    margin-bottom: 20px;
  }
  .footer__form-button {
    margin: 0 auto;
  }
}
@media (max-width: 480px) {
  .footer__wrapper-left {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 60px;
  }
  .footer__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.control {
  padding-top: 94px;
  padding-bottom: 50px;
}
.control__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8px;
}
.control__button {
  background-color: rgb(245, 244, 250);
  color: rgb(33, 33, 33);
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.03em;
  border-width: 0;
  border-radius: 4px;
  padding: 6px 22px;
  text-align: center;
  font-family: "Roboto", sans-serif;
}
.control__button:hover {
  background-color: rgb(33, 150, 243);
  color: rgb(255, 255, 255);
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08);
}

@media (max-width: 768px) {
  .control {
    padding-top: 60px;
    padding-bottom: 14px;
  }
}
@media (max-width: 480px) {
  .control {
    padding-bottom: 40px;
  }
  .control__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 326px;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
}
.advertisements {
  padding-bottom: 94px;
}
.advertisements__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  row-gap: 30px;
}
.advertisements__item {
  background-color: rgb(255, 255, 255);
  text-align: start;
  -ms-flex-preferred-size: calc((100% - 60px) / 3);
      flex-basis: calc((100% - 60px) / 3);
  position: relative;
}
.advertisements__item:hover {
  -webkit-box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16), 0 4px 4px 0 rgba(0, 0, 0, 0.06);
          box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16), 0 4px 4px 0 rgba(0, 0, 0, 0.06);
}
.advertisements__item:hover .advertisements__overlay {
  opacity: 1;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}
.advertisements-overlay__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 370px;
  height: 294px;
  overflow: hidden;
}
.advertisements__overlay {
  position: absolute;
  opacity: 0;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(33, 150, 243, 0.9)), to(rgba(33, 150, 243, 0.9)));
  background-image: linear-gradient(to top, rgba(33, 150, 243, 0.9), rgba(33, 150, 243, 0.9));
  padding: 63px 24px;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
}
.advertisements__desc {
  color: rgb(255, 255, 255);
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
}
.advertisements__item-container {
  padding-left: 24px;
  padding-right: 24px;
}
.advertisements__title {
  color: rgb(33, 33, 33);
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.06em;
  line-height: 36px;
  padding-top: 20px;
  padding-left: 24px;
  max-width: 306px;
}
.advertisements__subtitle {
  color: rgb(117, 117, 117);
  font-weight: 400;
  letter-spacing: 0.03em;
  font-size: 16px;
  line-height: 30px;
  padding-top: 4px;
  padding-left: 24px;
  padding-bottom: 20px;
}
.advertisements-item__container {
  border: 1px solid;
  border-color: rgb(238, 238, 238);
  border-top: 0;
}

@media (max-width: 768px) {
  .advertisements__image {
    max-width: 354px;
    max-height: 294px;
  }
  .advertisements-overlay__wrapper {
    max-width: 354px;
  }
}
@media (max-width: 480px) {
  .advertisements__image {
    max-width: 450px;
  }
  .advertisements-overlay__wrapper {
    max-width: 450px;
  }
}